.block {
  .block__media {
    margin-top: $pad;

    img {
      display: block;
      width: 100%;
    }
  }

  .block__avatar {
    border-radius: 5px;

    img {
      display: block;
    }
  }
}

.block--tweet {
  margin-left: $pad*4;
  padding: $pad*.5;

  .block__avatar {
    float: left;
    margin-left: -$pad*4;
    width: 3rem;
  }

  .block__text p {
    margin-top: 0;
    margin-bottom: 0;
  }

  .block__header {
    color: #666;
  }
}

.block--glance {
  border: 1px solid $blue-border;
  border-radius: 5px;
  background: $light;
  overflow: hidden;

  .block__text {
    padding: $pad-half;
  }

  .block__cover {
    background: #333;
    height: 125px;
  }

  .block__header {
    margin-top: -23px;
  }

  .block__avatar {
    border: 3px solid $highlight;
  }

  .block__avatar,
  .block__user {
    display: inline-block;
    vertical-align: bottom;
  }

  .block__user {
    padding-left: $pad-half;
    padding-bottom: $pad*0.25;
  }

  .user__handle,
  .user__name {
    margin: 0;
  }
}

.block--status-update {
  display: table;
  width: 100%;
  background: $blue-moderate;
  $height: 40px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px slid $blue-border;

  .block__avatar,
  .block__form {
    display: table-cell;
    vertical-align: top;
  }

  .block__avatar {
    width: 50px;
    height: $height;
    padding-left: 10px;
    padding-top: $pad-half;
  }

  .block__form {
    padding: $pad-half;
  }

  textarea {
    width: 100%;
    display: block;
    height: $height;
    font-size: 1em;
    padding: $pad-half;
  }

  .block__form--expanded textarea {
    height: auto;
  }

  .block__form-actions {
    text-align: right;
    padding-top: $pad;
  }

  .block__counter,
  .btn {
    display: inline-block;
  }

  .btn {
    margin-left: $pad-half;
  }
}
