.block {
  .block__media {
    img {
      display: block;
      width: 100%;
    }
  }

  .block__avatar {
    border-radius: 5px;

    img {
      border-radius: 5px;
    }
  }
}

.block--tweet {
  margin-left: $pad*4;
  padding: $pad*.5;

  .block__avatar {
    float: left;
    margin-left: -$pad*4;
  }

  .block__text p {
    margin-top: 0;
  }

  .block__header {
    color: #666;
  }
}

.block--glance {
  border: 1px solid $highlight;
  border-radius: 5px;

  .block__text {
    padding: $pad-half;
  }

  .block__cover {
    background: #333;
    height: 125px;
  }

  .block__header {
    margin-top: -33px;
  }

  .block__avatar {
    border: 3px solid $light;
  }

  .block__avatar,
  .block__user {
    display: inline-block;
    vertical-align: bottom;
  }

  .block__user {
    padding-left: $pad-half;
    padding-bottom: $pad*0.25;
  }

  .user__handle,
  .user__name {
    margin: 0;
  }
}
