/**
 * Buttons
 */

.btn {
  -webkit-appearance: none;
  border: none;
  font-size: 1em;
  padding: $pad-half;
  border-radius: 2px;
  background: $highlight;
  color: $light;
  cursor: pointer;

  &:disabled {
    background: gray;
    cursor: not-allowed;
  }
}

.btn--success {
  background: green;
}

.btn--danger {
  background: red;
}

.btn--primary {
  background: $blue-primary;
}
