.header {
  text-align: center;
  background: $blue-header;

  .wrapper {
    overflow: hidden;
    padding: $pad-half;
    position: relative;
  }

  .brand {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.brand {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: #004386;
  font-weight: 300;
}

.nav {
  float: left;
  text-transform: uppercase;
  font-size: 0.9em;

  a {
    display: inline-block;
    margin-right: $pad-half;
    padding: $pad-half $pad;
  }
}

.nav--right {
  float: right;

  a:last-child {
    margin-right: 0;
  }
}
