html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background: $blue-bg;
  color: #efefef;
}

.wrapper {
  max-width: $max-width;
  margin: 0 auto;
  padding: $pad;
}

// Sidebar layou
.l-two-col {
  @media (min-width: $bp-med) {
    overflow: hidden;

    .l-sidebar,
    .l-main {
      float: left;
    }

    .l-sidebar {
      width: 30%;
    }

    .l-main {
      width: 70%;
      padding-left: $pad;
    }
  }
}
