ul.tweets {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid $blue-border;
  background: $light;

  li {
    padding: $pad-half;
    border-bottom: 1px solid $blue-border;

    &:last-child {
      border: none;
    }
  }
}

ul.stats {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  li {
    float: left;
    width: 33.3%;
  }

  h4 {
    font-size: 0.8em;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  p {
    margin: 0;
  }

  .flexbox & {
    display: flex;

    li {
      flex: 1 auto;
    }
  }
}
