<header class="header">
  <div class="wrapper">
    {{#link-to "home" class="brand"}}{{appName}}{{/link-to}}

    <nav class="nav">
      {{#link-to "home"}}Home{{/link-to}}
    </nav>

    <nav class="nav nav--right">
      {{#link-to "user"}}Profile{{/link-to}}
      <button class="btn btn--primary">Tweet</button>
    </nav>
  </div>
</header>

<section class="section">
  <div class="wrapper">
    {{outlet}}
  </div>
</section>
