<div class="l-two-col">
  <div class="l-sidebar">
    <aside>
      {{profile-glance}}
    </aside>
  </div>
  <div class="l-main" role="main">
    {{status-update}}
    {{tweet-list}}
  </div>
</div>
