<div class="block__avatar">
  <img src="https://pbs.twimg.com/profile_images/646425256/JoshSpain_bigger.jpg" alt="Josh Larson's avatar">
</div>
<div class="block__form">
  {{textarea placeholder="What's happening?"}}
</div>
