<div class="block__cover"></div>
<div class="block__text">
  <div class="block__header">
    <div class="block__avatar">
      {{#link-to "user"}}
        <img src="https://pbs.twimg.com/profile_images/646425256/JoshSpain_bigger.jpg" alt="Josh Larson's avatar">
      {{/link-to}}
    </div>
    <div class="block__user">
      <h2 class="user__name">{{#link-to "user"}}Josh Larson{{/link-to}}</h2>
      <div class="user__handle">{{#link-to "user"}}@jplhomer{{/link-to}}</div>
    </div>
  </div>
  <div class="block__stats">
    <ul class="stats">
      <li>
        <h4>Tweets</h4>
        <p>10</p>
      </li>
      <li>
        <h4>Following</h4>
        <p>10</p>
      </li>
      <li>
        <h4>Followers</h4>
        <p>10</p>
      </li>
    </ul>
  </div>
</div>
