<div class="block__bg"></div>
<div class="block__avatar">
  {{#link-to "user"}}
  <img src="https://pbs.twimg.com/profile_images/646425256/JoshSpain_bigger.jpg" alt="Josh Larson's avatar">
  {{/link-to}}
</div>
<div class="block__stats">
  <ul class="stats">
    <li>
      <h4>Tweets</h4>
      <p>10</p>
    </li>
    <li>
      <h4>Following</h4>
      <p>10</p>
    </li>
    <li>
      <h4>Followers</h4>
      <p>10</p>
    </li>
  </ul>
</div>
